<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.process.mapper.ProcessParameterMapper">

    <resultMap id="BaseResultMap" type="com.mes.process.entity.ProcessParameter">
        <id column="id" property="id"/>
        <result column="template_id" property="templateId"/>
        <result column="param_name" property="paramName"/>
        <result column="param_code" property="paramCode"/>
        <result column="param_value" property="paramValue"/>
        <result column="min_value" property="minValue"/>
        <result column="max_value" property="maxValue"/>
        <result column="unit" property="unit"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
